<app-navigation [links]="navbarLinks"></app-navigation>

<div class="container home-container">

  <div class="upcoming-current-trips-container">
    <h2 class="text text-center">Current Trips</h2>
    <trip-card *ngFor="let trip of currentTrips" [trip]="trip"></trip-card>
  </div>

  <div class="upcoming-current-trips-container">
    <h2 class="text text-center">Upcoming Trips</h2>
    <trip-card *ngFor="let trip of upcomingTrips" [trip]="trip"></trip-card>
  </div>

</div>

<fab-button></fab-button>
