<app-navigation [links]="navbarLinks"></app-navigation>


<div class="trips-container container">
  <h2 class="text-center text">All your trips</h2>
  <div class="carousel">
    <ng-container *ngIf="isLoading; else content">
      <div class="spinner">
        <mat-spinner color="accent" diameter="50"></mat-spinner>
      </div>
    </ng-container>

  </div>
</div>

<fab-button></fab-button>

<ng-template #content>
  <trip-card *ngFor="let trip of trips" [trip]="trip" [ngClass]="'carousel-cell'"></trip-card>
  <p *ngIf="trips.length === 0" class="text-center text">You have no trips yet.</p>
</ng-template>
