<div class="modal">
  <div class="modal-content">
    <h2>Update Expense</h2>
    <!-- Add your form fields here -->
    <mat-form-field>
      <input matInput type="number" placeholder="Amount" [(ngModel)]="amount">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" placeholder="Description" [(ngModel)]="description">
    </mat-form-field>
    <br>

    <button mat-raised-button class="button" (click)="onUpdateExpense()">Add Expense</button>
    <button mat-raised-button class="button warn active" (click)="onClose()">Close</button>

  </div>
</div>
