<div class="container landing-container">

  <img ngSrc="assets/mountains-comp.jpg" alt="Mountains" class="tinted-image" height="4211" width="6316">

  <h2 class="text shadow-text">Welcome to </h2>
  <h1 class="app-title shadow-text">Lodgy</h1>
  <p class="shadow-text">Your go-to app for managing your next trip to the cabin.</p>

  <br><br>

  <div class="buttons">
    <button mat-raised-button routerLink="/login" class="button">Login</button>
    <button mat-raised-button routerLink="/register" class="button">Register</button>
  </div>
</div>
