<app-navigation [links]="navbarLinks"></app-navigation>

<p *ngIf="isDevMode()">TODO: Remove nav when backend is up. Temporary workaround to get to components behind login</p>

<div class="container login-container">
  <h2 class="text">Login to</h2>
  <h2 class="app-title-small">{{GlobalConstants.appTitle}}</h2>
  <br>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <mat-form-field class="form-group">
      <mat-label for="username">Username:</mat-label>
      <input matInput type="text" id="username" name="username" [autocomplete]="'username'" [(ngModel)]="username" required>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label for="password">Password:</mat-label>
      <input matInput type="password" id="password" name="password" [autocomplete]="'current-password'" [(ngModel)]="password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" class="button">Login</button>
  </form>
  <br>
  <a routerLink="/register">No account? Register here!</a>

<!--  <img src="assets/icons/credit-card-regular.svg">-->
</div>
