<app-navigation [links]="navbarLinks"></app-navigation>

<div class="trip-detail-container container">
  <h2 class="text-center">{{ trip?.name }}</h2>

  <div class="trip-details card">
    <h2 class="text">Destination: {{ trip?.destination }} - {{ startDate | date: 'y'}}</h2>
    <p class="text">Start Date: {{ startDate | date: 'mediumDate' : 'undefined' : 'de' }}</p>
    <p class="text">End Date: {{ endDate | date: 'mediumDate' : 'undefined' : 'de' }}</p>
    <p class="text">Description: {{ trip?.description }}</p>
    <p class="text">Total Expenses: {{ totalExpenses }} €</p>
  </div>
  <br>
  <button *ngIf="isParticipating" mat-raised-button class="button warn active" (click)="participate()">Don't Participate</button>
  <button *ngIf="!isParticipating" mat-raised-button class="button" (click)="participate()"> Participate</button><br><br>
  <button mat-raised-button class="button" (click)="addExpenses()">Add Expenses</button><br><br>
  <button mat-raised-button class="button" [disabled]="isBeforeEndDate()" (click)="distributeExpenses()">Distribute Expenses</button>

</div>

<router-outlet></router-outlet>

<fab-button></fab-button>


