@import "vars";
$modal-content-margin-top: 25px;

.mat-mdc-dialog-surface {
  border-radius: 25px !important; /* Set the background color to transparent */
  height: 500px;
}

.expense-add-modal-panel {
  height: 475px;
  width: 400px;

  &-default {
    height: 400px;
    width: 400px;
  }

  &-preselected {
    height: 300px;
    width: 400px;
  }

  &-admin {
    height: 500px;
    width: 400px;
  }

  &-mod {
    height: 500px;
    width: 400px;
  }
}

.expense-update-modal-panel {
  height: 300px;
  width: 400px;
}

.trip-add-modal-panel {
  height: 500px;
  width: 400px;
}

.date-range-dialog-panel {
  height: 320px;
  width: 340px;
}

.modal {
  background-color: $primary-color;
  height: 100%;
}

.modal-content {
  margin: auto;
  text-align: center;
  margin-top: $modal-content-margin-top;
  max-height: calc(100% - $modal-content-margin-top);
  width: 90%;
}
