// COLORS
$primary-color: #FAF0E4;
$secondary-color: #9BCDD2;
$tertiary-color: #FF8551;
$quarternary-color: #FFDEDE;
$background-color: #e2d78f;

// COLOR MODIFIERS (use filter)
$darker: 85%;

// CARDS
$cardBgColor: #DFDFDE;
$cardColor: #F7F5F2;
$favFullColor: #F56D91;

// FONTS
$fontColor: #000;
$linkColor: #395B64;

// NAVBAR

$navbarBackgroundColor: rgb(85, 223, 75);
$navbarBackgroundColorScrolled: rgb(75, 134, 223);
$navbarTextColor: white;
$navbarBlur: 4px;
