// COLORS
$primary-color: #ECF4D6;
$secondary-color: #9AD0C2;
$tertiary-color: #2D9596;
$quarternary-color: #265073;
$background-color: $secondary-color;

// COLOR MODIFIERS (use filter)
$darker: 85%;

// CARDS
$cardBgColor: #DFDFDE;
$cardColor: #F7F5F2;
$favFullColor: #F56D91;

// FONTS
$fontColor: #000;
$linkColor: #395B64;

// NAVBAR

$navbarBackgroundColor: $tertiary-color;
$navbarBackgroundColorScrolled: $tertiary-color;
$navbarTextColor: black;
$navbarTextColorHover: $primary-color;
$navbarBlur: 4px;

// BOX

$borderRadius: 25px;
$boxShadow: 2px 2px 5px rgba(black, 0.2);


// BREAKPOINTS
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
