// COLORS
$primary-color: #ECF4D6;
$secondary-color: #9AD0C2;
$tertiary-color: #2D9596;
$quarternary-color: #265073;
$background-color: $secondary-color;

// COLOR MODIFIERS (use filter)
$darker: 85%;

// CARDS
$cardBgColor: #DFDFDE;
$cardColor: #F7F5F2;
$favFullColor: #F56D91;

// FONTS
$fontColor: #000;
$linkColor: #395B64;

// NAVBAR

$navbarBackgroundColor: $primary-color;
$navbarBackgroundColorScrolled: $primary-color;
$navbarTextColor: black;
$navbarTextColorHover: #395B64;
$navbarBlur: 4px;
