

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lodgy-webapp-primary: mat.define-palette(mat.$cyan-palette);
$lodgy-webapp-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lodgy-webapp-warn: mat.define-palette(mat.$pink-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lodgy-webapp-theme: mat.define-light-theme((
  color: (
    primary: $lodgy-webapp-primary,
    accent: $lodgy-webapp-accent,
    warn: $lodgy-webapp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lodgy-webapp-theme);

/* You can add global styles to this file, and also import other style files */

@import "vars";
@import "buttons";
@import "input";
@import "cards";



* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans Mono', monospace !important;
  background-color: $background-color;
}

mat-label {
  font-family: 'Noto Sans Mono', monospace !important;
}

div {
  font-family: 'Noto Sans Mono', monospace !important;
}

a {
  text-decoration: none;
}

.app-title {
  font-size: 3em !important;
  margin-bottom: 20px;
  font-family: 'Permanent Marker', cursive !important;
  transform: rotate(0deg);
  transition: transform 3s ease;

  &-small {
    font-size: 2em !important;
    margin: 0 auto !important;
    width: fit-content;
    font-family: 'Permanent Marker', cursive !important;
    transform: rotate(-5deg);
  }

  &.tilted {
    transform: rotate(-5deg);
  }
}

.user-name {
  font-size: 3em !important;
  margin-bottom: 20px;
  font-family: 'Permanent Marker', cursive !important;
}

.text {
  font-family: 'Noto Sans Mono', monospace !important;
}

.text-center {
  text-align: center;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
  max-width: 60%;

  text-align: center;
  line-height: 2rem;

  @media only screen and (max-width: $breakpoint-md) {
    max-width: 85%;
  }
}

.icon-button {
  color: $secondary-color !important;
}

.icon-button:hover {
  filter: brightness(85%);
}

.styled-snackbar {
  border-radius: 25px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
