@import "vars";

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  transition: height .3s, border-radius .3s, width .3s, top .5s, bottom .5s, background-color .3s, box-shadow .3s, backdrop-filter .3s;
  background-color: rgba($navbarBackgroundColor, 0);
  transform: translateX(-50%);
  z-index: 1000;

  &.scrolled {
    width: 40%;
    padding: 15px 15px;
    top: 10px;
    border-radius: 100px;
    background-color: rgba($navbarBackgroundColorScrolled, 0.6);
    backdrop-filter: blur($navbarBlur);
    box-shadow: 0 0 15px rgba(black, 0.1);
  }

  @media only screen and (max-width: $breakpoint-md) {
    position: fixed;
    bottom: 0;
    top: auto;
    padding: 15px;
    background-color: $navbarBackgroundColor;

    &.scrolled {
      width: calc(100% - 50px) !important;
      bottom: 10px;
      top: auto;
    }
  }
}

.nav-link {
  color: $navbarTextColor;
  font-size: 1.2em;
  transition: color .3s, text-shadow .5s;
  margin: auto;
  text-shadow: black 0px 0px 0px;

  &:hover {
    color: $navbarTextColorHover;
    text-shadow: black 0px 0px 10px;
  }

  &.active {
    color: $navbarTextColorHover;
    text-shadow: black 0px 0px 10px;
  }
}



.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: fill 0.3s ease;

  &:hover {
    fill: #007bff;
  }
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;

  li {
    display: inline;
    padding: 5px 20px;

    @media only screen and (max-width: $breakpoint-md) {
      padding: 5px 10px;
    }
  }
}

a {
  text-decoration: none;
}
